*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: ProductSans;
}
@font-face {
    font-family: ProductSans;
    src: url(../../assets/fonts/ProductSansRegular.ttf);
}
body{
    display: flex;
    align-items:center;
    flex-direction:row;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
#follow_Container{
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 20px;
    border: none;
    outline: none;
    padding: 20px;
    background-color: rgba(0, 81, 255, 0.761);
    border-radius: 2vw;

}
#follow_Content{
    font-size: 4vw;
    font-weight: 700;
    color: white;
}
#drop_down_arrow{
    font-size: 3vw;
    color: white;
}


#card{
    border-radius: 2vw;
    width: 20vw;
    height: 60vh;
    background-color: rgba(0, 0, 0, 0.674);
    color: white;
     display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: row;
}
/* #dp_section{
    
    border-radius: 50%;
    border: 3px solid white;
    margin: 10px;
     
   

}
#user_dp{
    background-color: white;
    color: white;

    
    
}
#user_name{
    position: relative;
    top: 150%;

    color: rgb(255, 255, 255);

    font-size: 20px;
} */