*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: NeueMachina;
}

@font-face {
    font-family: NeueMachina;
    src: url(../../assets/fonts/NeueMachinaUltrabold.otf);
}
body{
    width: 100%;
    height: 80vh;
    background-color: rgba(120, 40, 218, 0.633);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}
#track_btn{
    margin-top: 2vw;
    padding: 30px;
    font-size: 3vw;
    background-color: rgba(222, 184, 135, 0.686);
    border: none;
    outline: none;
    border-radius: 3vw;
    cursor: pointer;
    
}
#status_head_container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5vw;
    gap: 2vw;
    margin-left: 2vw;

}
#progress_container{
    background-color: rgb(129, 129, 129);
    width: 0.20vw;
    height: 35vh;
    position: absolute; 
    /* for dot and progress bar accorindg to their content */

}
#handle_containers{
    padding: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: rgba(0, 0, 0, 0.409); */
    column-gap: 1vw;
    width: 80vw;
    
}
#progress_filler{
    width: 0.20vw;
    background-color: rgba(27, 235, 173, 0.503);
    position: absolute;
    top: 0%;
    height: 0%;
    transition:2s;
    
}
.dot{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  background: rgb(124, 123, 124);
  border-radius: 50%;
}
.active{
    background-color: rgba(27, 235, 173, 0.845);
}
