*{
    margin: 0;
    box-sizing:border-box;
    font-family: HELVETICASCHOOL;
    padding: 0.7vw 1.8vw;
    border-radius: 50px;
    letter-spacing: 1px;
    font-size: 1.5vw;
}
@font-face {
    font-family: HELVETICASCHOOL;
    src: url(../../assets/fonts/HELVETICASCHOOL.TTF);
}
body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
#main_container{
    padding: 2vw;
    background-color: rgba(255, 255, 255, 0.214);
    border: solid rgb(255, 255, 255) 3px;
    color: white;
    border-radius: 20px;
    width: 50vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 2vw;
    
}

#input_val{
    width: 20vw;
}
#input_val::placeholder{
    font-size: 1.5vw;
}


#list_item{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    position: relative;
    padding: 5px 10px;
    gap: 10px;

}
.list_unity{
    display: flex;
    align-items: center;
    border: solid white 3px;
    background-color: rgba(232, 156, 225, 0.674);
    color: black;
}


